* {
    font-family: "Mohave";
    font-size: 20px;
}

body {
    margin: 0;
    background-color: #001F3F;
}

a {
    text-decoration: none;
    color: white;
}

img {
    margin: 0px;
    padding: 0px;
}

nav ul {
    list-style-type: none;
}

header{
    line-height: 10vh;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

header a {
    padding: 0px 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:#600404;
    color: white;
    text-align: center;
}

.indexlogo {
    width: 50px;
    height: 50px;
}

.search-bar {
    padding: 15px 40px 15px 50px; 
    width: 500px;
    font-family: "Mohave";
    border-radius: 50px;
    background-image: url('images/search-icon.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 15px center;
    border: 1px solid #ccc;
    margin: 0 auto;
}

.search-bar::placeholder {
    color: black;
    opacity: 0.5;
    font-size: 16px;
}

.currnav {
    color: #7FDBFF;
}

.textbanner2 {
    font-family: 'Passion One', sans-serif;
    color: white;
    font-size: 64px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: 200;
}

.textbanner {
    font-family: 'Passion One', sans-serif;
    font-size: 64px;
    background: linear-gradient(to right, #66AFCC 38%, #7FDBFF 53%, #66AFCC 70%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#bannersub {
    margin-top: 0;
    margin-bottom: 80px;
    text-align: center;
    color: white;
    font-size: smaller;
    font-weight: 400;
}

.parcontainer {
    position: relative;
    height: 100vh;
    margin: 0px 30px;
}

.topcontainer {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.botcontainer {
    background-color: rgba(127, 219, 255, 0.5);
    position: absolute;
    bottom: 10;
    width: 100%;
    height: 1000px;
    border-radius: 50px 50px 0 0;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
}

.botcontainer h1 {
    font-family: 'Passion One', 'Mohave';
    margin-top: 70px;
    text-align: center;
    font-size: 40px;
    color: white;
}

#artist-container {
    margin: 10px 100px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

#artist-container div {
    margin: 0px 10px;
    background-color: white;
    border-radius: 20px;
}

#artist-container div:hover,
.concert-content:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#artist-container div img {
    width: 300px;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}

.artist-name {
    margin: 10px 0px;
    text-align: center;
}

/*-----LOGIN PAGE------*/
#login-container{
    margin: 0px 280px;
    text-align: center;
    color: black;
    backdrop-filter: blur(5px);
}

.loginPage{
    background-image: url("Images/raveBackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
}

input[type="email"], input[type="password"] {
    width: 100%;
    max-width: 400px;
    padding: 3px;
    box-sizing: border-box;
    overflow: scroll;
}

#login-container a{
    color: black;
    text-decoration: underline ;
}

#contact-container a{
    color: black;
}

#loginBtnIndex {
    background-color: rgba(127,219,255, 0.5);
    border-radius: 20px;
    padding: 5px 20px;
    margin-right: 30px;
}

.rightmargin30 {
    margin-right: 30px;
}

/*-----REGISTER PAGE------*/
#registerHeader {
    text-align: center;
}

#registerinputs {
    margin: 10px 0px;
}

#registerinputs input {
    margin: 10px;
    padding: 10px;
    width: 250px;
    line-height: 18px;
}


#btnRegister {
    background-color: #600404;
    color: white;
}

.container {
    padding: 4vh;
    height: 100%;
    text-align: center;
    background-color: aliceblue;
    color: black;
}



#loginBtn{
    background-color: #00246b;
    color: white;
    font-weight: 700;
}

#loginBtn:hover{
    text-decoration: underline;
}

#registerinputs input.cbshowpass {
    width: 10px;
}

.messagebox {
    margin: 50px 280px;
    text-align: center;
}

.grid2container {
    display: flex;
}

.rightgrid {
    width: 50%;
    height: 54855;
    background-color: #00246b;
}

.leftgrid {
    width: 50%;
    height: 100%;
}

/* ---------------------- Organizer PHP ------------------------ */

#organizer-container ul {
    list-style-type: none;
} 

.orgprofile-container {
    background-color: rgba(127, 219, 255, 0.5);
    margin: 0;
}

/* ---------------------- Profile PHP ------------------------ */
.profilecontainer {
    color: white;
}

.customerprofilecontainer {
    display: flex;
    justify-content: center;
}

.leftcontainer {
    width: 20%;
}

.leftcontainer li {
    margin: 20px;
}

.rightcontainer {
    width: 80%;
    align-items: center;
}

.customerdetails {
    background-color: #004389;
    border-radius: 20px;
    width: 90%;
    padding: 20px;
}

.editdeets {
    display: flex;
}

.deetlabels label {
    font-weight: bold;
    margin: 20px 50px;
}

#editProfileForm input, select {
    text-align: left;
    margin: 5px 20px;
    width: 300px;
}

#saveBtn::-ms-value {
    max-width: 100px;
    text-align: center;

}


/* ---------------------- Reports PHP ------------------------ */
.reportcontainer {
    color: white;
}

.reportcontainer h1, .profilecontainer h1 {
    font-family: 'Passion One';
    font-size: 64px;
    font-weight: 200;
    text-align: center;
    margin: 20px;
}

.rowreports {
    display: flex;
    justify-content: space-evenly;
}

.indivreport {
    background-color: #004389;
    border-radius: 20px;
    margin-bottom: 50px;
}

.indivreporttable td {
    padding: 2px 20px;
    color: white;
    font-size: 16px;
    text-align: center;
}

.reportname {
    margin: 5px 20px;
}

.columntitle {
    background-color: rgba(0,31,63, 0.3);
    color: white;
}

/* ---------------------- Index-Concerts Section ------------------------ */
#concert-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 100px;
    border-radius: 20px;
    color: black;
  }
  
  .concert-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 0px 20px;
  }

  .concert-content a{
    color: black;
    font-family: 'Passion One';
    margin: 5px 0px;
  }
  
  .concert-content img {
    width: 220px;
  }
  
  .concert_maindeets {
    margin: 0px 10px;
    width: 200px;
    text-align: center;
  }
  
  .concert_maindeets h5 {
    margin: 0;
    font-size: larger;
  }

  .concert_maindeets h6 {
    margin: 0;
    font-size: small;
  }

  .concert_table{
    margin: 0 auto;
  }

<<<<<<< HEAD

/* ---------------------- BuyTickets Section ------------------------ */

.concert-sections {
    display: flex; /* Arranges sections side-by-side */
    flex-wrap: wrap; /* Allows sections to wrap to multiple lines */
    margin: 0 auto; /* Centers the container horizontally */
    width: 80%; /* Adjust width as needed */
  }
  
  .mvp-section,
  .vip-section,
  .myzone-section {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    text-align: center; /* Center text within each section */
  }
  
  .mvp-section h3,
  .vip-section h3,
  .myzone-section h3 {
    margin-bottom: 10px;
  }
  
=======
  .concert_table td {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
   }
/* ---------------------- Index-Concerts Section ------------------------ */
>>>>>>> a1d357b7cde131db38c3c6db4e77d8dd4e771854
